body {
  margin: 0;
  padding: 0;
  font-size: 1rem; 
}

.account-card {
  background: linear-gradient(to bottom, #FBFBFB, #E9EED9);
  border: none;
  border-radius: 0.5rem; 
  max-width: 37.5rem; 
  box-shadow: 0px 0.25rem 0.75rem rgba(0, 0, 0, 0.1); 
  padding: 1.25rem; 
}