body, input, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/scr/back.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  position: sticky;
  padding-top: 26px;
  box-shadow: 0px 3px 8px 9px rgba(0, 0, 0, 0.25); 
}

.search-bar {
  position: relative;
}

.search-bar input[type="search"] {
  padding-left: 40px; 
}

.search-bar .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.rounded {
  border-radius: 20px;
}

.input-group-text img {
  max-width:1em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 56px); 
}

/* Estilo para o conteúdo dentro do container */
.container > * {
  margin-bottom: 1rem; /* Opcional, para dar um espaço entre os elementos */
}


.search-bar input[type="search"] {
  padding-left: 40px; 
  width: 300px; 
  height: 40px; 
  border-radius: 20px;
  border: 1px solid #ccc; 
  background: #fff;

}

.search-bar .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333; 
}

.box {
  padding: 1em;
  border-radius: 5px;
}

.box h1 {
  color: #C8C2C2;
  font-weight: 900;
  font-size: 2rem;
}

.box h3 {
  color: #F0B695;
  font-weight: 800;
  font-size: 1.5rem;
}

.box p {
  font-weight: 400;
  color: #A09F9F;
  font-size: 0.8rem;

}

.box img {
  width: 10rem;
  height: 14rem;
}

.additional-content {
  display: flex;
  align-items: center;
  margin-top: 5.5rem;
  color: #fff;
}

.additional-content img {
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 0.6rem;
}


.additional-content span {
  font-weight: 500;
  font-size: 1.2rem;
  color: #F0B695;

}

.continue-reading-sub {
  color: #F0B695;
  font-weight: 900;
  font-size: 1.4rem;
  margin-top: 2rem;
  color: #C8C2C2;

}
/* Custom Container*/
.custom-container {
  position: sticky;
  top: 10;
  z-index: 1020; /* Valor alto para ficar acima de outros elementos */
  max-width: 1200px; /* Defina a largura máxima desejada */
  margin: 0 auto; /* Centraliza o container horizontalmente */
  padding-top: 10rem; /* Opcional, para dar um espaço entre o topo e o conteúdo */
}
/*Carrossel css*/
.carrosselConteudo {
  display: flex;
  height: 30%;
  margin: 0 6em;
  overflow: hidden; /* Oculta conteúdo do carrossel que ultrapassa os limites */
}

.swiper-wrapper {
  display: flex;
  width: 80vw;
}

.swiper-slide img {
  width: 25vw;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

.swiper-slide img:hover{
  transform: scale(1.1);
  border: 2px solid black;
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: .5em 0;
}

@media screen and (min-width: 1024px) {
  
  .swiper-pagination {
    margin: 2em 0 3em 0;
  }
  .swiper {
    width: 60%;
  }
  .swiper-button-next, .swiper-button-prev {
    display: block;
    top: 60%;
  }
}

@media screen and (min-width: 1728px) {
  .swiper-slide {
    margin: 0 2em 5em 3em;
  }
  .swiper-button-next, .swiper-button-prev {
    top: 55%;
  }
}

/*Botão*/
.options-window {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 1;
}

.options-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.options-list li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}

.options-list li a:hover {
  background-color: #f1f1f1;
}

.custom-navbar {
  background-color: #696270; /* Cor de fundo personalizada */
  color: #fff; /* Cor do texto */
}

.dropdown-menu {
  padding: 10px 20px;
  background-color: #696270;
}

.dropdown-item {
  padding: 8px 0;
  color: #ffffff;
}

.btn-outline-secondary {
  border-color: transparent;
  color: #6c757d; /* Cor do texto do botão */
}

.btn-outline-secondary:hover {
  background-color: #e9ecef; /* Cor de fundo do botão ao passar o mouse */
  border-color: transparent;
  color: #495057; /* Cor do texto do botão ao passar o mouse */
}

.navbar .nav-link {
  color: #fff; /* Cor do texto do link da navbar */
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #ccc; /* Cor do texto do link da navbar ao passar o mouse */
}

.navbar .dropdown-menu {
  background-color: #343a40; /* Cor de fundo do dropdown */
  border-color: transparent;
}

.navbar .dropdown-item {
  color: #fff; /* Cor do texto do item do dropdown */
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
  background-color: #495057; /* Cor de fundo do item do dropdown ao passar o mouse */
  color: #fff;
}
