.bg-background {
    background-color: #D2E0FB;
}

.text-verification {
   max-width: 29rem;
}

.text-verification-code {
    gap: 2rem;
}

.box-code {
    width: 2.5rem; 
    font-size: 1.5rem;
    background-color: #CDC1FF;
    color: #fff;
    text-align: center; 
}