body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.corvo-img {
  max-width: 35rem;
}

.login-container {
  background-image: url('../../assets/back.jpeg');
  background-size: cover;
  background-position: center;
}

.input-group {
  position: relative;
}

.input-group-text {
  cursor: pointer; 
}

.login-card {
  max-width: 25rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}
